body{
	font-family:Arial, Helvetica, sans-serif;
  width:100%;
 
 
}
.tb5{

	
}
.t4{
	background:#DDDDDD;*/
	
	
	padding-top:30;
	padding-bottom:20;
	height:40%;
	color:#ff330;
	
}
.table4{
	background:#DDDDDD;
	
	width:100%;
	padding-bottom:10;
	padding-left:250;
	padding-right:50;
	}
.table4 tr td {
 /*border:1px solid black;*/
}

.table4 tr td a{
	text-decoration:none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	font-style:italic;
	font-stretch:wider;
	font-weight:600;
	color:#000000;	
}
.table4 tr td a:hover{
	color:#FF3300;
	
}

.table4 tr {
  padding: 20px;
  /*margin: 5px;*/
  text-align: center;
}

.table4 tr td {
  color: white;
  padding: ;
  padding-top:30;
  padding-bottom:40;
  margin-bottom:30;
  margin-top:20;
  
  
  background-color: #FF6633;
  
  
  display: inline-block;
  width: 30%;
  border-top-right-radius: 15px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
  border-top-left-radius:15px;
  border-bottom: 2px solid #FF3300;
  border-top:2px solid #FF3300;
  transition-duration: 0.4s;
}
.table4 tr td:hover {
  background-color: #DDDDDD;
 
 }










/*.online_services {
  font-size: 1em;
  margin: 1%;
  width: 55%;
  float: left;
  padding-bottom: 5px;
  background-color: #c5d9e2;
  border-bottom: 2px solid black;
}

.online_services ul {
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.online_services ul li {
  color: white;
  padding: 2%;
  margin: 5px;
  background-color: #004156;
  display: inline-block;
  width: 25%;
  /* //border-top-right-radius: 25px; */
  /*border-bottom: 2px solid black;
  transition-duration: 0.4s;
}

.online_services ul li:hover {
  background-color: #002d3b;
}

.online_services ul a:hover {
  cursor: pointer;
}

.online_services a {
  color: white;
  text-decoration: none;
}

.online_services h4 {
  margin: 5px;
  text-align: center;
}

.ebanking {
  position: relative;
  display: inline-block;
}

.ebanking a {
  display: block;
}

.ebanking_options {
  position: absolute;
  display: none;
  background-color: #c5d9e2;
  width: 250;
  border: 1px solid black;
  box-shadow: 2px 2px 40px rgb(45, 71, 112);
  z-index: 1;
}

.ebanking_options ul {
  cursor: auto;
}

.ebanking_options ul a {
  cursor: pointer;
  
}
.ebanking_options ul li {
 padding-top:10;
 float:left;
  /*color: white;*/
  /*background-color: #004156;*/
 /* display: inline-block;*/
  	
  /* //border-top-right-radius: 25px; */
 /* border-bottom: 2px solid black;
}

.ebanking:hover .ebanking_options {
  display: inline-table ;
}